// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

//
@mixin dropShadow($offX: 2, $offY: 2, $blur: 2, $rgba: rgba(0, 0, 0, 0.3), $hex: #B2B2B2) {
  -webkit-filter: drop-shadow(#{$offX}px #{$offY}px #{$blur}px $rgba);
  filter        : url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='" + $blur +"'/><feOffset dx='" + $offX + "' dy='" + $offY + "' result='offsetblur'/><feFlood flood-color='#{$rgba}'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
  -ms-filter    : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=" + $offX + ", OffY=" + $offY + ", Color='" + $hex + "')";
  filter        : "progid:DXImageTransform.Microsoft.Dropshadow(OffX=" + $offX + ", OffY=" + $offY + ", Color='" + $hex + "')";
}

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.header {
  background: $corp-navy;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #FFFFFF !important;
  padding-top: 60px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}

//custom styles
a
{
  h4
  {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  span
  {
    font-size: 14px;
    color: #000000;
  }
}

h2,
h3,
h4,
{
  color: #42424D !important;

  a
  {
    color: #000000;
    font-weight: bold;
  }
}

table.button table tr {
  margin-bottom: 1px;
  margin-top: 1px;
}

table.button table tr td {
  background-color: none;
}

.section-one
{
  background-image: url('https://cdn.ulster.ac.uk/home/ulster-frontend/img/daro-email/ulster-university.jpg');
  @include dropShadow($offX: 2, $offY: 2, $blur: 2, $rgba: rgba(0, 0, 0, 0.1), $hex: #EEEEEE);

  table.row
  {
    background: rgba(0,0,0,0.5);
  }

  h2
  {
    color: #FFFFFF;
    font-size: 24px;
    margin-bottom: 0;
  }
}

.section-two
{
  background: none;

  .columns
  {

  }
}

.tile
{
  background: #fff;
  margin-bottom: 10px;
  @include dropShadow($offX: 2, $offY: 2, $blur: 2, $rgba: rgba(0, 0, 0, 0.1), $hex: #EEEEEE);

  td
  {
    padding: 10px;
  }

  &.center
  {
    *
    {
      text-align: center;
    }

    img
    {
      margin: 0 auto;
    }
  }
}

.tile-list
{

}

.tile-column
{
  tr
  {
    td
    {
      height: 200px;
    }
  }
}

.promo
{
  background: $corp-gold;
  margin-top: 10px;
  @include dropShadow($offX: 2, $offY: 2, $blur: 2, $rgba: rgba(0, 0, 0, 0.1), $hex: #EEEEEE);

  a
  {
    *
    {
      color: #ffffff;
      text-align: center;
    }
  }

  h2
  {
    color: #ffffff !important;
  }
}

.last
{
  padding-right: 0 !important;
  padding-bottom: 0 !important;
}

.first
{
  padding-left: 0 !important;
  padding-bottom: 0 !important;
}

table.custom-wrapper
{
  tr
  {
    td
    {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

table.menu
{
  a
  {
    text-transform: uppercase;
    font-size: 12px;
  }
}

.section-style-one
{
  width: 100%;
  
  tr
  {
    td
    {
      background: $corp-navy;
    }
  }
}